
<a class="btn btn-danger" role="button" href="logs/new">Begin Today's Log</a>

<ul>
<% if @logs.any? %>
  <% @logs.each do |log| %>
   <li><%= link_to log.date, log_path(log) %></li>
  <% end %>
<% end %>
</ul>
